<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Collection</title>
</head>
<body>
  <h1>Cat Collection</h1>
  <a href="/cats/new.ejs">Add New Cat</a>
  <ul>
    <% cats.forEach(cat => { %>
      <li>
        <h2><a href="/cats/<%= cat._id %>"><%= cat.name %></a></h2>
        <p>Breed: <%= cat.breed %></p>
        <p>Age: <%= cat.age %></p>
        <p>Description: <%= cat.description %></p>
        <img src="<%= cat.imageUrl %>" alt="<%= cat.name %>">
        <a href="/cats/<%= cat._id %>/edit">Edit</a>
        <form action="/cats/<%= cat._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>
